<!DOCTYPE html>
<html>
  <head>
    <title>Display All Tiles</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
      
    <table border='1'>
            <caption><h3>List Of Tiles</h3></caption>
          <tr><th>Serial No</th><th>Current Date</th><th>Batch No</th><th>Grade</th><th>Item Name</th><th>Stock</th><th>Size</th><th>Price</th><th>Photograph</th></tr>
          
          
          <tr> <td>1</td><td>xyz</td><td>dadgdd</td><td>dfgf</td><td>fdfa<td>dfda</td><td>dfdag</td><td>dfdfa</td><td>hghkh</td><td>Edit/Delete</td></tr>
      </table>

  </body>
</html>